
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">





<!DOCTYPE html>
<head>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
   <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
   
   
   
   


<style>

#map {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

</style>
</head>
<body>

        <div id="map" style="width: 960px; height: 500px"></div>

<script>



var map = L.map('map').setView([37.7833, -122.4167], 11);

L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.jpg', {
    maxZoom: 18,
    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
}).addTo(map);


var circle_1 = L.circle([40.74354,-73.97474], 210.0, {
                            color: 'black',
                            fillColor: '#f00',
                            fillOpacity: 0.6
                            });
circle_1.bindPopup("Envoy_Club_Suites");
map.addLayer(circle_1)

<!-- var circle_2 = L.circle([37.594425, -122.38329], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_2.bindPopup("LISA HLADIK"); -->
<!-- map.addLayer(circle_2) -->

<!-- var circle_3 = L.circle([37.594425, -122.38329], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_3.bindPopup("MARK BELTRAN"); -->
<!-- map.addLayer(circle_3) -->

<!-- var circle_4 = L.circle([37.680737, -122.47292], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_4.bindPopup("CHARLES J. ANTONINI"); -->
<!-- map.addLayer(circle_4) -->

<!-- var circle_5 = L.circle([37.675583, -122.47508], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_5.bindPopup("KEVIN M. WONG"); -->
<!-- map.addLayer(circle_5) -->

<!-- var circle_6 = L.circle([37.395618, -122.10493], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_6.bindPopup("TINA W. LEUNG"); -->
<!-- map.addLayer(circle_6) -->

<!-- var circle_7 = L.circle([37.395618, -122.10493], 150.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_7.bindPopup("FAITH WELLS"); -->
<!-- map.addLayer(circle_7) -->

<!-- var circle_8 = L.circle([37.395618, -122.10493], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_8.bindPopup("ERICA WEIRICH"); -->
<!-- map.addLayer(circle_8) -->

<!-- var circle_9 = L.circle([37.359344, -122.09234], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_9.bindPopup("SHEILA H. HUMPHRIES"); -->
<!-- map.addLayer(circle_9) -->

<!-- var circle_10 = L.circle([37.452675, -122.18795], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_10.bindPopup("LINDA H. FRESCO"); -->
<!-- map.addLayer(circle_10) -->

<!-- var circle_11 = L.circle([37.452675, -122.18795], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_11.bindPopup("SUSAN C. GARAY"); -->
<!-- map.addLayer(circle_11) -->

<!-- var circle_12 = L.circle([37.452675, -122.18795], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_12.bindPopup("RACHEL M. SEAMAN"); -->
<!-- map.addLayer(circle_12) -->

<!-- var circle_13 = L.circle([37.377022, -122.06483], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_13.bindPopup("ANURADHA REDDY"); -->
<!-- map.addLayer(circle_13) -->

<!-- var circle_14 = L.circle([37.377022, -122.06483], 150.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_14.bindPopup("MICHAEL J. MULLIGAN"); -->
<!-- map.addLayer(circle_14) -->

<!-- var circle_15 = L.circle([37.377022, -122.06483], 270.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_15.bindPopup("KIMBERELY CARLSON"); -->
<!-- map.addLayer(circle_15) -->

<!-- var circle_16 = L.circle([37.373798, -122.08709], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_16.bindPopup("MIDORI NISHIMURA"); -->
<!-- map.addLayer(circle_16) -->

<!-- var circle_17 = L.circle([37.369045, -122.08175], 150.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_17.bindPopup("LAKSHMI MYNENI"); -->
<!-- map.addLayer(circle_17) -->

<!-- var circle_18 = L.circle([37.366146, -122.07791], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_18.bindPopup("PATRICK J. KEARNS"); -->
<!-- map.addLayer(circle_18) -->

<!-- var circle_19 = L.circle([37.524399, -122.25239], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_19.bindPopup("AMY BRENDEL"); -->
<!-- map.addLayer(circle_19) -->

<!-- var circle_20 = L.circle([37.524399, -122.25239], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_20.bindPopup("PAULINE SIAO"); -->
<!-- map.addLayer(circle_20) -->

<!-- var circle_21 = L.circle([37.367916, -122.0287], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_21.bindPopup("TERESA CHENG"); -->
<!-- map.addLayer(circle_21) -->

<!-- var circle_22 = L.circle([37.367916, -122.0287], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_22.bindPopup("ROBINA Y. MOEN"); -->
<!-- map.addLayer(circle_22) -->

<!-- var circle_23 = L.circle([37.367916, -122.0287], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_23.bindPopup("MICHAEL SU"); -->
<!-- map.addLayer(circle_23) -->

<!-- var circle_24 = L.circle([37.367916, -122.0287], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_24.bindPopup("CHUNG-YING A. CHEN"); -->
<!-- map.addLayer(circle_24) -->

<!-- var circle_25 = L.circle([37.368004, -122.02978], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_25.bindPopup("BETSY STRONG"); -->
<!-- map.addLayer(circle_25) -->

<!-- var circle_26 = L.circle([37.358974, -122.02795], 150.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_26.bindPopup("GREGORY F. HOOPER"); -->
<!-- map.addLayer(circle_26) -->

<!-- var circle_27 = L.circle([37.788162, -122.40968], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_27.bindPopup("HARVEY C. EDELMAN"); -->
<!-- map.addLayer(circle_27) -->

<!-- var circle_28 = L.circle([37.76548, -122.40271], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_28.bindPopup("ELIZABETH K. ZIEMANN"); -->
<!-- map.addLayer(circle_28) -->

<!-- var circle_29 = L.circle([37.793976, -122.40835], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_29.bindPopup("SHU WING CHAN"); -->
<!-- map.addLayer(circle_29) -->

<!-- var circle_30 = L.circle([37.790363, -122.42287], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_30.bindPopup("GAYATRI KHANNA"); -->
<!-- map.addLayer(circle_30) -->

<!-- var circle_31 = L.circle([37.787361, -122.42309], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_31.bindPopup("JONATHAN NORDLICHT"); -->
<!-- map.addLayer(circle_31) -->

<!-- var circle_32 = L.circle([37.789528, -122.41714], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_32.bindPopup("DAVID COHEN"); -->
<!-- map.addLayer(circle_32) -->

<!-- var circle_33 = L.circle([37.789135, -122.41667], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_33.bindPopup("LEAH TESSLER"); -->
<!-- map.addLayer(circle_33) -->

<!-- var circle_34 = L.circle([37.747532, -122.42031], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_34.bindPopup("ERIC G. LIM"); -->
<!-- map.addLayer(circle_34) -->

<!-- var circle_35 = L.circle([37.768429, -122.43571], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_35.bindPopup("LOUIS J. CUBBA"); -->
<!-- map.addLayer(circle_35) -->

<!-- var circle_36 = L.circle([37.768429, -122.43571], 150.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_36.bindPopup("STEPHEN M. KNOX"); -->
<!-- map.addLayer(circle_36) -->

<!-- var circle_37 = L.circle([37.785328, -122.43997], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_37.bindPopup("NATHANIEL W. GLEASON"); -->
<!-- map.addLayer(circle_37) -->

<!-- var circle_38 = L.circle([37.785328, -122.43997], 270.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_38.bindPopup("MICHELLE E. GUY"); -->
<!-- map.addLayer(circle_38) -->

<!-- var circle_39 = L.circle([37.791096, -122.43176], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_39.bindPopup("JAMES A. DAVIS"); -->
<!-- map.addLayer(circle_39) -->

<!-- var circle_40 = L.circle([37.790154, -122.4324], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_40.bindPopup("WILLIAM S. ANDERECK"); -->
<!-- map.addLayer(circle_40) -->

<!-- var circle_41 = L.circle([37.773037, -122.45348], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_41.bindPopup("RICHARD M. GERBER"); -->
<!-- map.addLayer(circle_41) -->

<!-- var circle_42 = L.circle([37.774872, -122.45302], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_42.bindPopup("KENNETH B. MAYBURY"); -->
<!-- map.addLayer(circle_42) -->

<!-- var circle_43 = L.circle([37.785908, -122.45768], 150.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_43.bindPopup("ALVIN D. WONG"); -->
<!-- map.addLayer(circle_43) -->

<!-- var circle_44 = L.circle([37.786728, -122.45142], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_44.bindPopup("MARY J. MARTIN"); -->
<!-- map.addLayer(circle_44) -->

<!-- var circle_45 = L.circle([37.754097, -122.47914], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_45.bindPopup("HANS YU"); -->
<!-- map.addLayer(circle_45) -->

<!-- var circle_46 = L.circle([37.747799, -122.42709], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_46.bindPopup("DAPHNE MILLER"); -->
<!-- map.addLayer(circle_46) -->

<!-- var circle_47 = L.circle([37.73399, -122.48966], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_47.bindPopup("KATHERINE K. STRELKOFF"); -->
<!-- map.addLayer(circle_47) -->

<!-- var circle_48 = L.circle([37.796867, -122.40741], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_48.bindPopup("RONG SHEN"); -->
<!-- map.addLayer(circle_48) -->

<!-- var circle_49 = L.circle([37.795681, -122.40965], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_49.bindPopup("FUSHENG WANG"); -->
<!-- map.addLayer(circle_49) -->

<!-- var circle_50 = L.circle([37.439377, -122.16225], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_50.bindPopup("GARY FUJIMOTO"); -->
<!-- map.addLayer(circle_50) -->

<!-- var circle_51 = L.circle([37.439377, -122.16225], 150.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_51.bindPopup("PATTI YANKLOWITZ"); -->
<!-- map.addLayer(circle_51) -->

<!-- var circle_52 = L.circle([37.439377, -122.16225], 270.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_52.bindPopup("CATHERINE BAKER"); -->
<!-- map.addLayer(circle_52) -->

<!-- var circle_53 = L.circle([37.439377, -122.16225], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_53.bindPopup("SCOTT MATTHEWS"); -->
<!-- map.addLayer(circle_53) -->

<!-- var circle_54 = L.circle([37.439377, -122.16225], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_54.bindPopup("CHERYL GOLD"); -->
<!-- map.addLayer(circle_54) -->

<!-- var circle_55 = L.circle([37.439377, -122.16225], 150.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_55.bindPopup("STEVE R. LANE"); -->
<!-- map.addLayer(circle_55) -->

<!-- var circle_56 = L.circle([37.439377, -122.16225], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_56.bindPopup("SARAH N. TORRES"); -->
<!-- map.addLayer(circle_56) -->

<!-- var circle_57 = L.circle([37.439377, -122.16225], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_57.bindPopup("GAIL PYLE"); -->
<!-- map.addLayer(circle_57) -->

<!-- var circle_58 = L.circle([37.566257, -122.32603], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_58.bindPopup("PAUL JEMELIAN"); -->
<!-- map.addLayer(circle_58) -->

<!-- var circle_59 = L.circle([37.566257, -122.32603], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_59.bindPopup("BEATTY H. RAMSAY"); -->
<!-- map.addLayer(circle_59) -->

<!-- var circle_60 = L.circle([37.567696, -122.26718], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_60.bindPopup("MEGAN L. ANCKER"); -->
<!-- map.addLayer(circle_60) -->

<!-- var circle_61 = L.circle([37.764458, -122.24256], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_61.bindPopup("ERNEST L. BONNER"); -->
<!-- map.addLayer(circle_61) -->

<!-- var circle_62 = L.circle([37.799988, -121.91675], 150.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_62.bindPopup("CAROL L. LAMB"); -->
<!-- map.addLayer(circle_62) -->

<!-- var circle_63 = L.circle([38.067806, -122.18224], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_63.bindPopup("LAURA DALTON"); -->
<!-- map.addLayer(circle_63) -->

<!-- var circle_64 = L.circle([37.937107, -121.69769], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_64.bindPopup("JOLINE HEO"); -->
<!-- map.addLayer(circle_64) -->

<!-- var circle_65 = L.circle([38.578106, -122.57719], 270.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_65.bindPopup("JEANETTE M. WILLIAMS"); -->
<!-- map.addLayer(circle_65) -->

<!-- var circle_66 = L.circle([37.972511, -122.0179], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_66.bindPopup("CARLOS E. ANDERSEN"); -->
<!-- map.addLayer(circle_66) -->

<!-- var circle_67 = L.circle([37.984161, -122.03596], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_67.bindPopup("ARSEEN E. SOLIMAN"); -->
<!-- map.addLayer(circle_67) -->

<!-- var circle_68 = L.circle([37.962196, -122.07244], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_68.bindPopup("SEYMOUR GREENSTEIN"); -->
<!-- map.addLayer(circle_68) -->

<!-- var circle_69 = L.circle([37.947945, -122.07373], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_69.bindPopup("NICOLAS E. MAKHOUL"); -->
<!-- map.addLayer(circle_69) -->

<!-- var circle_70 = L.circle([37.822865, -121.99686], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_70.bindPopup("VIKTOR NOVIKOV"); -->
<!-- map.addLayer(circle_70) -->

<!-- var circle_71 = L.circle([38.235332, -122.08533], 270.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_71.bindPopup("TINA R. SINGH"); -->
<!-- map.addLayer(circle_71) -->

<!-- var circle_72 = L.circle([38.220676, -122.13847], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_72.bindPopup("ANJALI CHANANA"); -->
<!-- map.addLayer(circle_72) -->

<!-- var circle_73 = L.circle([37.560158, -121.99204], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_73.bindPopup("BARBARA H. KOSTICK"); -->
<!-- map.addLayer(circle_73) -->

<!-- var circle_74 = L.circle([37.557617, -121.98116], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_74.bindPopup("ASHWANI K. BINDAL"); -->
<!-- map.addLayer(circle_74) -->

<!-- var circle_75 = L.circle([37.549271, -121.97461], 270.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_75.bindPopup("KAVERI PATEL"); -->
<!-- map.addLayer(circle_75) -->

<!-- var circle_76 = L.circle([37.55579, -121.98267], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_76.bindPopup("MARCO PAVESI"); -->
<!-- map.addLayer(circle_76) -->

<!-- var circle_77 = L.circle([37.549271, -121.97461], 270.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_77.bindPopup("SANDRA WONG"); -->
<!-- map.addLayer(circle_77) -->

<!-- var circle_78 = L.circle([37.549271, -121.97461], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_78.bindPopup("KUTTANCHERI REMA"); -->
<!-- map.addLayer(circle_78) -->

<!-- var circle_79 = L.circle([37.556206, -121.98233], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_79.bindPopup("SYLVIA H. HOANG"); -->
<!-- map.addLayer(circle_79) -->

<!-- var circle_80 = L.circle([37.556206, -121.98233], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_80.bindPopup("SIMIN SIDDIQ"); -->
<!-- map.addLayer(circle_80) -->

<!-- var circle_81 = L.circle([37.549271, -121.97461], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_81.bindPopup("MING-HSIEN WU"); -->
<!-- map.addLayer(circle_81) -->

<!-- var circle_82 = L.circle([37.675762, -122.08534], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_82.bindPopup("MICHAEL D. DELANGE"); -->
<!-- map.addLayer(circle_82) -->

<!-- var circle_83 = L.circle([37.647842, -122.10556], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_83.bindPopup("NIRMALA KANNAN"); -->
<!-- map.addLayer(circle_83) -->

<!-- var circle_84 = L.circle([37.700119, -122.08777], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_84.bindPopup("RICHARD HO"); -->
<!-- map.addLayer(circle_84) -->

<!-- var circle_85 = L.circle([38.006329, -122.13095], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_85.bindPopup("MICHAEL D. BOYD"); -->
<!-- map.addLayer(circle_85) -->

<!-- var circle_86 = L.circle([37.536594, -122.0282], 150.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_86.bindPopup("JACKIE A. BOLDS"); -->
<!-- map.addLayer(circle_86) -->

<!-- var circle_87 = L.circle([37.877193, -122.18171], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_87.bindPopup("MARIA ANDRAE-HAMMOND"); -->
<!-- map.addLayer(circle_87) -->

<!-- var circle_88 = L.circle([37.99675, -122.30174], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_88.bindPopup("RICHARD E. BATTS"); -->
<!-- map.addLayer(circle_88) -->

<!-- var circle_89 = L.circle([37.705521, -121.87423], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_89.bindPopup("TRACY A. THOMPSON"); -->
<!-- map.addLayer(circle_89) -->

<!-- var circle_90 = L.circle([37.705521, -121.87423], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_90.bindPopup("PAUL KIM"); -->
<!-- map.addLayer(circle_90) -->

<!-- var circle_91 = L.circle([38.507099, -122.47116], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_91.bindPopup("THOMAS E. STILES"); -->
<!-- map.addLayer(circle_91) -->

<!-- var circle_92 = L.circle([37.714478, -122.14181], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_92.bindPopup("RATNASOTHY S. RAJAH"); -->
<!-- map.addLayer(circle_92) -->

<!-- var circle_93 = L.circle([37.773804, -121.99117], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_93.bindPopup("SUE J. KNIGHT"); -->
<!-- map.addLayer(circle_93) -->

<!-- var circle_94 = L.circle([38.132587, -122.23869], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_94.bindPopup("RUBEN S. VELASQUEZ"); -->
<!-- map.addLayer(circle_94) -->

<!-- var circle_95 = L.circle([37.905483, -122.05918], 270.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_95.bindPopup("ALPHAEUS M. WISE"); -->
<!-- map.addLayer(circle_95) -->

<!-- var circle_96 = L.circle([37.905483, -122.05918], 270.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_96.bindPopup("JULIA S. HOHMAN"); -->
<!-- map.addLayer(circle_96) -->

<!-- var circle_97 = L.circle([37.910461, -122.04186], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_97.bindPopup("LILLIAN LEONG"); -->
<!-- map.addLayer(circle_97) -->

<!-- var circle_98 = L.circle([37.922413, -122.03021], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_98.bindPopup("DEVORAH E. BEN-ZEEV"); -->
<!-- map.addLayer(circle_98) -->

<!-- var circle_99 = L.circle([37.780659, -122.23122], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_99.bindPopup("MARGARET KRAY"); -->
<!-- map.addLayer(circle_99) -->

<!-- var circle_100 = L.circle([37.799191, -122.23111], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_100.bindPopup("EVAN SEEVAK"); -->
<!-- map.addLayer(circle_100) -->

<!-- var circle_101 = L.circle([37.798168, -122.25663], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_101.bindPopup("PHUONG D. DANG"); -->
<!-- map.addLayer(circle_101) -->

<!-- var circle_102 = L.circle([37.799805, -122.27065], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_102.bindPopup("XIAOGUANG HUANG"); -->
<!-- map.addLayer(circle_102) -->

<!-- var circle_103 = L.circle([37.818897, -122.26389], 300.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_103.bindPopup("LORI M. BELTRAN"); -->
<!-- map.addLayer(circle_103) -->

<!-- var circle_104 = L.circle([37.820084, -122.26685], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_104.bindPopup("JOHN C. GOOD"); -->
<!-- map.addLayer(circle_104) -->

<!-- var circle_105 = L.circle([37.863678, -122.26942], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_105.bindPopup("MILDRED M. KAWACHI"); -->
<!-- map.addLayer(circle_105) -->

<!-- var circle_106 = L.circle([37.89043, -122.29665], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_106.bindPopup("NELSON BUNIN"); -->
<!-- map.addLayer(circle_106) -->

<!-- var circle_107 = L.circle([37.970852, -122.53244], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_107.bindPopup("DAVID M. TULLY-SMITH"); -->
<!-- map.addLayer(circle_107) -->

<!-- var circle_108 = L.circle([37.953224, -122.50098], 150.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_108.bindPopup("JAMES TAYLOR"); -->
<!-- map.addLayer(circle_108) -->

<!-- var circle_109 = L.circle([38.006828, -122.54641], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_109.bindPopup("FREDERICK J. HASS"); -->
<!-- map.addLayer(circle_109) -->

<!-- var circle_110 = L.circle([37.944862, -122.53705], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_110.bindPopup("CATHARINE T. CLARK-SAYLES"); -->
<!-- map.addLayer(circle_110) -->

<!-- var circle_111 = L.circle([38.095032, -122.55894], 270.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_111.bindPopup("LESLEY A. DEBRIER"); -->
<!-- map.addLayer(circle_111) -->

<!-- var circle_112 = L.circle([38.25211, -122.63398], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_112.bindPopup("JAMES F. LEONI"); -->
<!-- map.addLayer(circle_112) -->

<!-- var circle_113 = L.circle([38.251904, -122.63415], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_113.bindPopup("RAJESH K. RANADIVE"); -->
<!-- map.addLayer(circle_113) -->

<!-- var circle_114 = L.circle([37.867756, -122.49979], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_114.bindPopup("ROBERT J. BARTZ"); -->
<!-- map.addLayer(circle_114) -->

<!-- var circle_115 = L.circle([37.293945, -122.033], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_115.bindPopup("SHELDON ZITMAN"); -->
<!-- map.addLayer(circle_115) -->

<!-- var circle_116 = L.circle([37.247131, -121.95024], 270.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_116.bindPopup("LINDA C. LU"); -->
<!-- map.addLayer(circle_116) -->

<!-- var circle_117 = L.circle([37.251808, -121.95152], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_117.bindPopup("MARY JANE HUTCHINS"); -->
<!-- map.addLayer(circle_117) -->

<!-- var circle_118 = L.circle([37.262268, -121.97041], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_118.bindPopup("ARTHUR POLUSSA"); -->
<!-- map.addLayer(circle_118) -->

<!-- var circle_119 = L.circle([37.413212, -121.88464], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_119.bindPopup("VIJAY THUKRAL"); -->
<!-- map.addLayer(circle_119) -->

<!-- var circle_120 = L.circle([37.347054, -121.95944], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_120.bindPopup("DHANU KAPOOR"); -->
<!-- map.addLayer(circle_120) -->

<!-- var circle_121 = L.circle([37.355827, -121.95731], 180.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_121.bindPopup("KHALIQ A. SHAH"); -->
<!-- map.addLayer(circle_121) -->

<!-- var circle_122 = L.circle([37.352268, -121.9761], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_122.bindPopup("VIVEK JAIN"); -->
<!-- map.addLayer(circle_122) -->

<!-- var circle_123 = L.circle([37.352268, -121.9761], 270.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_123.bindPopup("SAYEMA A. SAIFULLAH"); -->
<!-- map.addLayer(circle_123) -->

<!-- var circle_124 = L.circle([37.343464, -121.87793], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_124.bindPopup("SYDNEY C. CHOSLOVSKY"); -->
<!-- map.addLayer(circle_124) -->

<!-- var circle_125 = L.circle([37.343765, -121.89634], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_125.bindPopup("CHIU J. YUAN"); -->
<!-- map.addLayer(circle_125) -->

<!-- var circle_126 = L.circle([37.363342, -121.84826], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_126.bindPopup("HARVEY SACHS"); -->
<!-- map.addLayer(circle_126) -->

<!-- var circle_127 = L.circle([37.361233, -121.85059], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_127.bindPopup("PATRICK W. PAU"); -->
<!-- map.addLayer(circle_127) -->

<!-- var circle_128 = L.circle([37.220657, -121.86433], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_128.bindPopup("DAVID W. MCCULLOUGH"); -->
<!-- map.addLayer(circle_128) -->

<!-- var circle_129 = L.circle([37.220657, -121.86433], 150.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_129.bindPopup("DAVID L. GRIFFITH"); -->
<!-- map.addLayer(circle_129) -->

<!-- var circle_130 = L.circle([37.25042, -121.85539], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_130.bindPopup("JORGE V. CONTRERAS"); -->
<!-- map.addLayer(circle_130) -->

<!-- var circle_131 = L.circle([37.253387, -121.86076], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_131.bindPopup("ABRAHAM C. CABEBE"); -->
<!-- map.addLayer(circle_131) -->

<!-- var circle_132 = L.circle([37.251076, -121.94845], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_132.bindPopup("JOCELIZA G. CHAUDHARY"); -->
<!-- map.addLayer(circle_132) -->

<!-- var circle_133 = L.circle([37.317707, -121.90813], 30.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_133.bindPopup("LEO SIFFLET"); -->
<!-- map.addLayer(circle_133) -->

<!-- var circle_134 = L.circle([37.406849, -121.94039], 210.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_134.bindPopup("NATASHA AHMED"); -->
<!-- map.addLayer(circle_134) -->

<!-- var circle_135 = L.circle([38.443104, -122.69884], 240.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_135.bindPopup("MARLON DECASTRO"); -->
<!-- map.addLayer(circle_135) -->

<!-- var circle_136 = L.circle([38.442539, -122.69859], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_136.bindPopup("LARRY SLATER"); -->
<!-- map.addLayer(circle_136) -->

<!-- var circle_137 = L.circle([38.442539, -122.69859], 90.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_137.bindPopup("KATHLEEN L. HORAN"); -->
<!-- map.addLayer(circle_137) -->

<!-- var circle_138 = L.circle([38.39817, -122.82108], 60.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_138.bindPopup("MICHAEL D. HOLMES"); -->
<!-- map.addLayer(circle_138) -->

<!-- var circle_139 = L.circle([38.396046, -122.81842], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_139.bindPopup("CONSTANCE J. AYERS"); -->
<!-- map.addLayer(circle_139) -->

<!-- var circle_140 = L.circle([38.354992, -121.9838], 120.0, { -->
<!--                             color: 'black', -->
<!--                             fillColor: '#f00', -->
<!--                             fillOpacity: 0.6 -->
<!--                             }); -->
<!-- circle_140.bindPopup("DAVID M. WOODHOUSE"); -->
<!-- map.addLayer(circle_140) -->

</script>



    </div><!-- /.container -->



<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></scri
t>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
