html, body {
  padding-top: 50px;
        margin: 0;
        padding: 0;
        height: 500px;
        width: 800px;
}
#map-canvas, #map_canvas {
  height: 500px;
}
@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}