<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="../../favicon.ico">

   <title>Clean Sleep - Insight Data Science Project</title>

   <!-- Bootstrap core CSS -->
   <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
<!--    <link href="../static/css/bootstrap.min.css" rel="stylesheet" background ="/static/images/banner.jpg"> -->
   <link href="../static/css/bootstrap.min.css" rel="stylesheet" >

   <!-- Custom styles for this template -->
   <link href="starter-template.css" rel="stylesheet">

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="/static/js/sorttable.js"></script>

    <link rel="stylesheet" href="/static/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    <script>
    function run() {
        document.getElementById("location").value = document.getElementById("dropdownMenu1").value;
        document.getElementById("rating").value = document.getElementById("dropdownMenu2").value;
    }
    </script>

<script src="../static/js/hotel.js">
document.getElementById("demo").innerHTML = hotels;
</script>

<script src="../static/js/url1.js">
document.getElementById("demo1").innerHTML = urls;
</script>

    <script>
      var gmarkers = [];
      var gicons = [];
      var pinColor_blue = "1D7BfD";
      var pinColor_pink = "FD1D7B";
<!--       var pinColor_green = "02CC77"; -->
      var pinColor_green = "4CAF50";
      var pinColor_green1 = "B2FF59";
      var pinColor_orange = "FF6F00";
      var pinColor_orange1 = "FE7569";
      var pinColor_yellow = "FFFF8D";

      var map = null;

      gicons["green1"] = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor_green1,
                new google.maps.Size(21, 34),
                new google.maps.Point(0,0),
                new google.maps.Point(10, 34));

      gicons["orange"] = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor_orange,
                new google.maps.Size(21, 34),
                new google.maps.Point(0,0),
                new google.maps.Point(10, 34));

      gicons["green"] = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor_green,
                new google.maps.Size(21, 34),
                new google.maps.Point(0,0),
                new google.maps.Point(10, 34));

      gicons["yellow"] = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor_yellow,
                new google.maps.Size(21, 34),
                new google.maps.Point(0,0),
                new google.maps.Point(10, 34));


      function createMarker(latlng,color,contents,url) {
<!--       function createMarker(latlng) { -->
        var marker = new google.maps.Marker({
          position: latlng,
          icon: gicons[color],
<!--           icon: gicons["blue"], -->
          map: map,
           zIndex: Math.round(latlng.lat()*-100000)<<5 
        }); 

        <!-- google.maps.event.addListener(marker, "mouseover", function() {  -->
<!--              hoverhotel(marker.hotelIDnum);  -->
<!--         });  -->
<!--         google.maps.event.addListener(marker, "mouseout", function() {  -->
<!--              unhoverhotel(marker.hotelIDnum);  -->
<!--         }); --> 
<!--         google.maps.event.addListener(marker, "click", function() {  -->
<!-- 	     clickhotel(marker.hotelIDnum);  -->
<!--         });  -->

<!--         var contentString = '<div id="content"><p>'+contents+'</p></div>'; -->

             var contentString  = '<div><a href="' + url + '" target="_blank">'+contents+'</a></div>';
        var infowindow = new google.maps.InfoWindow({ 
            content: contentString 
        }); 

       google.maps.event.addListener(marker, 'click', function() {
       infowindow.open(map, marker);
       });

        gmarkers.push(marker); 
        return marker; 
      } 

      markerdict = {}; 
      markerboxdict = {}; 

      function initialize() { 
        var nyc = new google.maps.LatLng(40.762181, -73.980974); 
        var mapOptions = { 
          zoom: 12, 
          center: nyc 
        } 
        map = new google.maps.Map(document.getElementById('map'), mapOptions); 

 
<!--         markers_lat = {{ marker_lat }}; -->
<!--         markers_lon = {{ marker_lon }}; -->
<!--         markers_ID = {{ marker_ID }}; -->


<!--         for (var i = 0; i < markers_lat.length; i++) { -->
<!--           var lat = parseFloat(markers_lat[i]); -->
<!--           var lng = parseFloat(markers_lon[i]); -->
<!--           var point = new google.maps.LatLng(lat,lng); -->
<!--           var marker = createMarker(point); -->
<!--           marker.hotelIDnum = markers_ID[i]; -->
<!--           markerdict[marker.hotelIDnum] = marker; -->
<!--           markerboxdict[marker.hotelIDnum] = new google.maps.InfoWindow({content: contentString}); -->
<!--         } -->



        markers_lat_e = {{ marker_lat_e }};
        markers_lon_e = {{ marker_lon_e }};
        markers_ID_e = {{ marker_ID_e }};

        for (var i = 0; i < markers_lat_e.length; i++) {
          var lat = parseFloat(markers_lat_e[i]);
          var lng = parseFloat(markers_lon_e[i]);
          var point = new google.maps.LatLng(lat,lng);
          var cont = markers_ID_e[i];
          var c = hotels[cont];
          var url = urls[cont];
          var marker = createMarker(point,"green",c,url);
          marker.hotelIDnum = markers_ID_e[i];
        }


        markers_lat_g = {{ marker_lat_g }};
        markers_lon_g = {{ marker_lon_g }};
        markers_ID_g = {{ marker_ID_g }};

        for (var i = 0; i < markers_lat_g.length; i++) {
          var lat = parseFloat(markers_lat_g[i]);
          var lng = parseFloat(markers_lon_g[i]);
          var point = new google.maps.LatLng(lat,lng);
          var cont = markers_ID_g[i];
          var c = hotels[cont];
          var url = urls[cont];
          var marker = createMarker(point,"green1",c,url);
          marker.hotelIDnum = markers_ID_g[i];
        }


        markers_lat_f = {{ marker_lat_f }};
        markers_lon_f = {{ marker_lon_f }};
        markers_ID_f = {{ marker_ID_f }};

        for (var i = 0; i < markers_lat_f.length; i++) {
          var lat = parseFloat(markers_lat_f[i]);
          var lng = parseFloat(markers_lon_f[i]);
          var point = new google.maps.LatLng(lat,lng);
          var cont = markers_ID_f[i];
          var c = hotels[cont];
          var url = urls[cont];
          var marker = createMarker(point,"yellow",c,url);
          marker.hotelIDnum = markers_ID_f[i];
        }


        markers_lat_p = {{ marker_lat_p }};
        markers_lon_p = {{ marker_lon_p }};
        markers_ID_p = {{ marker_ID_p }};

        for (var i = 0; i < markers_lat_p.length; i++) {
          var lat = parseFloat(markers_lat_p[i]);
          var lng = parseFloat(markers_lon_p[i]);
          var point = new google.maps.LatLng(lat,lng);
          var cont = markers_ID_p[i];
          var c = hotels[cont];
          var url = urls[cont];
          var marker = createMarker(point,"orange",c,url);
          marker.hotelIDnum = markers_ID_p[i];
        }


       google.maps.event.addListener(marker, 'click', function() {
       marker.info.open(map, marker);
       });

         
        var pinColor = "02CC77"; 
        var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor_blue, 
            new google.maps.Size(21, 34), 
            new google.maps.Point(0,0), 
            new google.maps.Point(10, 34)); 

        var contentString = '<div id="content"><p>New York City</p></div>'; 

        var infowindow = new google.maps.InfoWindow({ 
            content: contentString 
        }); 

        var marker = new google.maps.Marker({ 
            position: nyc, 
            map: map, 
            title: 'New York City',
            icon: pinImage 
        }); 

        google.maps.event.addListener(marker, 'click', function(){
            infowindow.open(map, marker);
        });


        var legend = document.createElement('div');
        legend.id = 'legend';
        var content = [];
        content.push('<h3>Clean rate</h3>');
        content.push('<p><div class="color green"></div>Excellent</p>');
        content.push('<p><div class="color green1"></div>Good</p>');
        content.push('<p><div class="color yellow"></div>Fair</p>');
        content.push('<p><div class="color orange"></div>Poor</p>');
        content.push('<p><div class="color blue"></div>*City Name</p>');
        legend.innerHTML = content.join('');
        legend.index = 1;
        map.controls[google.maps.ControlPosition.RIGHT_TOP].push(legend);

      } 

      google.maps.event.addDomListener(window, 'load', initialize); 

    </script> 

   <style type="text/css">
      #legend {
        background: #FFF;
        padding: 10px;
        margin: 1px;
        font-size: 16px;
        font-family: Arial, sans-serif;
      }

      .color {
        border: 1px solid;
        height: 12px;
        width: 12px;
        margin-right: 3px;
        float: left;
      }

      .green {
        background: #4CAF50;
      }

      .yellow {
        background: #FFFF8D;
      }

      .green1 {
        background: #B2FF59;
      }

      .blue {
        background: #1D7BfD;
      }

      .orange {
        background: #FF6F00;
      }
    </style>

   <style type="text/css">
     body {
     background-image: url("static/images/banner.jpg");
     -moz-background-size: cover;
     -webkit-background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     }
   </style>

    <style type="text/css">
      div.id {
      height: 100%;
      margin: 0;
      padding: 0;
      height: 500px;
      width: 800px;
      
      }
      #map {
      margin: 0 auto;
      top:20px;
      height: 500px;
      width: 800px;
      background-color: #CCC;
      border: 1px solid #999;
      position: center;
      }
    </style>

    <style type="text/css">
      table { page-break-inside:auto }
      tr    { page-break-inside:avoid; page-break-after:auto }
      div   { page-break-inside:avoid; }
      thead { display:table-header-group }
      tfoot { display:table-footer-group }
    </style>



    <script src="https://maps.googleapis.com/maps/api/js"></script>

 </head>


 <body>

   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">Clean Sleep</a>
       </div>
       <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="input">Home</a></li>
<!--            <li><a href="https://docs.google.com/presentation/d/1kBLUHOE3mkbp_JXKbU4zIXRkhJch39JYME8x6BBwUQ0/edit#slide=id.gbd3598fd8_0_0"  target="_blank">About</a></li> -->
           <li><a href="about">About</a></li>
           <li><a href="contact">Contact</a></li>
         </ul>
       </div>
     </div>
   </div>

<br> 
<br>


<div class="container" style="background-color: white ; opacity: 0.85;">
  <div class="starter-template" align="right">
    <br>
    <h1 style="color:green">Clean Sleep</h1> 
    <p class="lead">Earn yourself a good sleep in Hotels.<br> Check cleanliness of your Hotel from what other people say.</p>
  </div>

   <div id="map" align="center" style="height: 500px; width: 800px;"></div>


        <div id="map-container" ></div>
<!--         <form class="form-inline" style="background-color: white "  align="center"> -->
        <form class="form-inline" action="/output" method="GET" style="background-color: white; opacity: 0.85" align="center">
        <br> <br>

        <div class="form-group">
          <label for="location"></label>
          <select id="dropdownMenu1" onchange="run()">
            <option value="New York City, NY">New York City, NY</option>
          </select>
          <br>
          <input type="hidden" class=text-center type="text" id="location" name='location' placeholder="New York City, NY">
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <div class="form-group" >
          <label for="rating"></label>
            <select id="dropdownMenu2" onchange="run()">

            <option value="select"> &nbsp;&nbsp;Select rating&nbsp; </option>
            <option value="Excellent"> &nbsp;&nbsp;Excellent&nbsp; </option>
            <option value="Good"> &nbsp;&nbsp;Good&nbsp; </option>
            <option value="Fair"> &nbsp;&nbsp;Fair&nbsp; </option>
            <option value="Poor"> &nbsp;&nbsp;Poor&nbsp; </option>
          </select>
          <br>
          <input type="hidden" class=text-center type="text" id="rating" name='rating' placeholder="e.g.">
        </div>
<!--          <br> -->
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <div class="form-group">
<!--            <p> </p>  -->
           <button type="submit" class="btn btn-default">search again</button> 
         </div> 
 	</form> 
<br>


<!-- <br><br> -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

  </div> <!-- /.container-->

   <div class="container"  style="background-color: white; opacity: 0.85" align="center">

<br>
<p align="right">Click TA Clean Rate icons to see reviews from TripAdvisor.</p>


     <div class="starter-template">
       <h1></h1>

     </div>
   <table class="sortable table table-hover" width="300">
     <col width="10">
   <tr><th><a class="btn btn-default">sort by Hotel Name</a></th><th>City</th><th>Clean Rating</th><th><a class="btn btn-default">sort</a></th><th>TA Clean Rate</th><th><a class="btn btn-default">sort</a></th></tr>
   {% for hotel in hotels %}
   <tr><td style="width:400px">{{ hotel['name'] }}</td><td>{{ hotel['city']}}</td><td><img src="static/images/{{ hotel['png'] }}" width=70 height=30></button></a></td><td> {{ hotel['rate'] }}</td><td><a href="http://www.tripadvisor.com/Hotel_Review-g60763-d{{hotel['ID']}}-Reviews-Hotel_East_Houston-New_York_City_New_York.html" target="_blank"><button type="submit"><img src="static/images/{{ hotel['TArate'] }}.png" width=70 height=20></button></a></td><td> {{ hotel['TArate'] }}</td></tr>
   {% endfor %}
   </table>

   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
   <script src="static/js/bootstrap.min.js"></script>

   </div>
</div>


   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
   <script src="static/js/bootstrap.min.js"></script>
 </body>
</html>
