<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <title>Clean Sleep</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   <!--  <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">home</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="/index2">potential red flags</a></li>
              <li><a href="/drsearch">name search</a></li>
	       <li><a href="/slides" target="_blank">slides</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/contact">more info on lp</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <br><br>

    <div class="container">

      <div class="starter-template.css">
        <h1>Need help finding a doctor?</h1>
        <p class="lead">dr-findr brings a host of info together to help you find a <font color="blue"> GOOD </font>doctor...
        <br>and identify potential <font color="red"> RED </font> flags (below).<br></p>
	<!---->
	<!--<form action='/makemap' methods="get">-->
<!--    <select class="selectpicker" name="procedures"> -->
<!--<!--     <label for="originInput">Origin:</label> -->
<!--        <option value="Flu">Flu Shot</option>-->
<!--<!-- <option value="NoGo">Docs to avoid</option> ~~> -->
<!--        <option value="Allergy">Allergies, Triamcinolone acet inj</option>-->
<!--<option value="Lens">Cataract surgery</option> -->
<!--<option value="Chest Xray">Chest Xray</option>-->
<!--<option value="Flu">Chiropractic manipulation</option>-->
<!--        <option value="Colon">Colonoscopy and biopsy</option>        -->
<!--<option value="CT Scan">CT head/brain w/o dye</option>-->
<!--        <option value="Electrocardiogram">EKG, complete</option>-->
<!--        <option value="EKG">EKG, report</option>-->
<!--<option value="ED">Emergency dept visit</option>-->
<!--        <option value="Eyen">Eye exam, old patient</option>-->
<!--        <option value="Eyeo">Eye exam, new patient</option>-->
<!-- <option value="Hearing">Hearing test</option>-->
<!--<option value="HDD">Hospital discharge day</option>-->
<!--<option value="Medic M">Medication management</option>-->
<!--<option value="NMR">Neuromuscular reeducation</option>-->
<!--<option value="Coccal">Pneumococcal vaccine</option>-->
<!--        <option value="Psych">Psych diagnosis interview</option>-->
<!--        <option value="PT">PT eval</option>-->
<!--        <option value="Ear Wax">Remove impacted ear wax</option>-->
<!--    <option value="Shoulder Surgery">Shoulder arthroscopy/surgery</option>-->
<!--<option value="Thera Ex">Therapeutic exercises</option>-->
<!--        <option value="Tissue">Tissue exam by pathologist</option>-->
<!--<option value="Nails">Trim nail(s)</option>-->
<!--<option value="Ultrasounds">Ultrasound therapy</option>-->
<!--        <option value="Urine">Urinalysis nonauto w/o scope</option>                -->
<!--<option value="Routine Veni">Venipuncture, routine</option>-->
<!--<option value="Xray ab">X-ray exam of abdomen</option>-->
<!--<option value="Xray ankle">X-ray exam of ankle</option>-->
<!--<option value="Xray foot">X-ray exam of foot</option>-->
<!--<option value="Xray shoulder">X-ray exam of shoulder</option>-->
<!--<option value="Xray spine">X-ray exam of lower spine</option>-->
<!--<!-- <option value="Pharma Dollars">Pharma Dollars</option>         -->
<!--    </select>-->
<!---->
<!--<button type="submit" class="btn btn-success">dr-findr</button>-->
<!--</form>-->
<!---->

      </div>
       <div class="row">
       <div class="col-xs-12">

	 <iframe width='100%' height='500px' padding='10px' frameBorder='0' ' src='templete/map.html''></iframe>  
       </div>
       <div class="col-xs-12">
       
<table class="table table-hover">
        <tr><th>Name</th><th>City</th><th>Pharma $</th><th>dr-findr score</th><th>Percentile</th></tr>
    {% for city in cities %}
    <tr><td>{{ city['fullname'] }}</td><td>{{ city['city'] }}</td><td>{{ city['pharmadollars'] }}</td><td>{{ city['score'] }}</td><td>{{ city['scoreptile'] }}</td></tr>
    {% endfor %}
    </table>
       </div>
</div>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    </script>
  </body>
</html>
